/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
   display: flex;
   padding:20px;
}
nav{
    display: flex;
    padding: 10px;
    
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
nav a:hover{
    background-color: rgb(119, 119, 119);
}
.btn-holder{
    display: flex;
    align-items: center;
    padding: 20px;
  
}
.purchase-btn{
    width: 100px;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    color: rgb(0, 0, 0); 
}
.purchase-btn:hover{
    background-color: #989898;
}
.hero{
  
    padding: 20px;
}
.hero h1{
    padding: 20px;
    font-size: 3rem;
}
.card-holder{
  
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 80vw;
}

.cards{
    display: flex;
    justify-content: center;
  
}
.card img{
    height: 220px;
    width: 300px;
}
.card p{
    font-size: 1.5rem;
}
.card h4{
    margin: 20px 0px ;
}
.card{
    padding: 20px;
}
.footer{
    padding: 20px;
    background-color: #ffffff;
    width: 100vw;
    color: #000000;
}
